.signup_container {
    width: 100%;
    min-height: 100vh;
	background-image: url('/src/Images/icons/background.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_form_container {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form_header h1 {
    font-size: 24px;
    color: #008080;
    margin: 0;
    margin-left: 10px;
}

.form_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.input_group {
    display: flex;
    flex-direction: column;
}

.input_group label {
    font-size: 14px;
    color: #008080;
    margin-bottom: 5px;
}

.input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f5f5f5;
}

.full_width {
    grid-column: 1 / -1;
}

.date_group {
    display: flex;
    gap: 10px;
}

.date_group select {
    flex: 1;
}

.green_btn {
    background-color: #008080;
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.error_msg {
    grid-column: 1 / -1;
    background-color: #f34646;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}