.mainContent {
  padding: 2rem 0;
}

/* styles/Main.module.css */
/* styles/Main.module.css */
.welcomeMessage {
  margin-bottom: 1rem; /* Space below the welcome message */
  text-align: left; /* Align the text to the left */
  font-size: 1.2rem; /* Font size for the welcome message */
  color: whitesmoke; /* Change text color to black */
  padding-left: 1rem; /* Add padding to the left for better alignment */
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.actionCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.actionCard {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.actionCard:hover {
  transform: translateY(-5px);
}

.icon {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.chatBot {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chatBotHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.chatBotHeader img {
  border-radius: 50%;
  margin-right: 1rem;
}

.chatButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.chatButton {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1.1rem;
  font-weight: bold;
}

.chatButton:hover {
  background-color: var(--primary-color-dark);
  transform: scale(1.05);
}


.infoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.calendar,
.announcements {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendarPlaceholder {
  background-color: #f0f0f0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calendar icon styling */
.calendar_icon {
  color: #009688;
  margin-bottom: 10px;
}

/* Calendar grid styling */
.calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
}

/* Calendar day styling */
.calendar_day {
  font-weight: bold;
  color: #009688;
}

/* Calendar date styling */
.calendar_date {
  color: #333;
}

/* Highlighted day styling */
.highlighted_day {
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dormbot_icons {
	display: flex;
	gap: 8px;
  }
  
  /* DormBot icon styling */
  .dormbot_icon {
	width: 40px;
	height: 40px;
	border-radius: 8px;
  }
  